
{% extends "base.html" %}
{% load static%}

{% block title %}Video {{video.name}}{% endblock %}

{% block content %}

  <br>
  <center>
    <p>video {{video.title}}</p>
  </center>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <!-- video start -->
        <a href="{{video.file.name}}"></a>
        <video  id="videoPlayer" controls autoplay  width='100%' height='80%' poster="{{MEDIA_URL}}{{video.image_file.name}}">
          <source src="{{MEDIA_URL}}{{video.file.name}}" type="video/mp4"></source>
        </video>
        <!-- video end -->
      </div>
      <!-- video info start  -->
      <div class="col-md-5">
        <h1>hello </h1>
      </div>
      <!-- video info end -->

    </div>
  </div>

{% endblock %}
