
{% extends "base.html" %}
{% load static%}

{% block title %}browse videos{% endblock %}

{% block content %}



{% include 'music_info_requiremenets.html' %}

<div class="container">

    <form class="" action="{% url 'downloadVideo' %}" style="cursor: pointer;" method="POST" id="download_video">
      {% csrf_token %}

      <div class="row">
        <div class="card card-body">

          {% for song in audioRecords %}

            {% include 'music_info.html' %}

          {% endfor %}

        </div>
      </div>

    </form>

  {% include 'music_info_js.html' %}

</div>

{% endblock %}
