
{% extends "base.html" %}
{% load static%}

{% block title %}browse videos{% endblock %}

{% block content %}

  <div class="container-fluid">
    <br>
    <div class="row">
      {% for record in audioRecords %}
      <div class="col-md-4">
        <!-- width='50%' height='40%' -->
        <!-- <p class="row "> -->
          <center>{{record.title}}</center>
        <!-- </p> -->
        <video name='demo' controls width='100%' height='80%' poster="{{MEDIA_URL}}{{record.image_file.name}}">
          <source src="{{MEDIA_URL}}{{record.file}}" type="video/mp4"></source>
        </video>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
