
{% extends "base.html" %}
{% load static%}

{% block title %}Main page{% endblock %}

{% block content %}

  {% for list in video_lists%}

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{list.id}}" aria-expanded="false" aria-controls="collapseExample">
      {{list.title}} list
    </button>

  <div class="collapse" id="collapse{{list.id}}">
    <div class="card card-body">
      {% for song in list.videos.all %}

        <a href="{% url 'audio_page' song.id%}">{{song.title}}</a>

      {% endfor %}


    </div>
  </div>


  {% endfor %}


{% endblock %}
