
{% extends "base.html" %}
{% load static%}

{% block title %}Main page{% endblock %}

{% block content %}
<input type="hidden" id="downloadVideoUrl" data-url="{% url 'downloadVideo' %}" />


  <div class="container-fluid">

    <br>
    <div class="row">
      <!-- center the form -->
        <div class="d-flex justify-content-center align-items-center container">
          <form class="" action="{% url 'downloadVideo' %}" method="POST" id="questionForm">
            {% csrf_token %}
            {{ UploadUrl }}
            <input type="submit" name="" value="download video">
          </form>
        </div>

    </div>
    <br>
    <div class="row" id="all_videos">
      <div class="col-md-6">
          <video  id="videoPlayer" controls autoplay  width='100%' height='80%'>
          <source src="{{videos_source.0}}" type="video/mp4"></source>
        </video>
      </div>
    </div>

    <button type="button" onclick="previous()" disabled  id="previousVideoButton">previous Song</button>
    <button type="button" onclick="next()" {% if videos_source|length <= 1 %}disabled{% endif %} id="nextVideoButton">Next Song</button>

    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLMC9KNkIncKtPzgY-5rmhvj7fax8fdxoj" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    <!-- <div id='rg_embed_link_3988791' class='rg_embed_link' data-song-id='3988791'>Read <a href='https://genius.com/Sigrid-sucker-punch-lyrics'>“Sucker Punch” by Sigrid</a> on Genius</div> <script crossorigin src='//genius.com/songs/3988791/embed.js'></script> -->

    <script type="text/javascript">

      videos_source_list = {{ videos_source|safe }};
      videos_length =  videos_source_list.length
      last_index = videos_length - 1
      first_index = 0

      video_player = document.getElementById("videoPlayer")
      nextVideoButton = document.getElementById("nextVideoButton")
      previousVideoButton = document.getElementById("previousVideoButton")

      current_index = 0
      function next()  {
        current_index = current_index + 1

        if(current_index < last_index){
          video_player.src= videos_source_list[current_index];
        }

        else if(current_index == last_index){
          video_player.src= videos_source_list[current_index];
        }

        else if(current_index > last_index){
          notify("you reached the last video !", false)
        }
        enableAndDisableButtons(current_index, first_index, last_index, previousVideoButton, nextVideoButton)
      }


      function previous(){
        current_index = current_index - 1

        if(current_index < first_index){
          notify("you reached the last video !", false)
        }

        else if(current_index == first_index){
          video_player.src= videos_source_list[current_index];
        }

        else if(current_index > first_index){
          video_player.src= videos_source_list[current_index];
        }
        enableAndDisableButtons(current_index, first_index, last_index, previousVideoButton, nextVideoButton)
      }


      function enableAndDisableButtons(current_index, first_index, last_index, previousVideoButton, nextVideoButton){

        if(current_index <= first_index){
          previousVideoButton.disabled = true
        }
        else{
          previousVideoButton.disabled = false
        }

        if(current_index >= last_index){
          nextVideoButton.disabled = true
        }
        else{
          nextVideoButton.disabled = false
        }

      }

      //on video end
      video_player.onended = function() {
        next()
      };


    </script>

    <script type="text/javascript">

      var questionForm = $('#questionForm');

      questionForm.submit(function (e) {

        e.preventDefault();
        var url = $("#downloadVideoUrl").attr("data-url");

        notify("download request started ...", true)

        $.ajax({
            type: 'POST',
            url: url,
            data: questionForm.serialize(),
            success: function (data) {
              notify(data.answer, true)
            },
            error: function (data) {
                notify('An error occurred :' + data.message, false);
                console.log('An error occurred :' + data.message)
                console.log(data)
            },
        });
      })


    </script>





    <style media="screen">
      #progress-bar {
      margin-top: 1em;
    }
    </style>

    <div id="progress-wrapper">
      <button id="progress-bar-trigger">Run</button>
      <div id="progress-bar" style="background-color: blue; width: 40%;">&nbsp;</div>
      <div id="progress-bar-message">Waiting for progress to start...</div>
    </div>
    <script type="text/javascript">
      function updateProgress(progressBarElement, progressBarMessageElement, progress) {
      progressBarElement.style.width = progress.percent + "%";
      progressBarMessageElement.innerHTML = progress.current + ' of ' + progress.total + ' processed.';
    }

    var trigger = document.getElementById('progress-bar-trigger');
    trigger.addEventListener('click', function(e) {
      var bar = document.getElementById("progress-bar");
      var barMessage = document.getElementById("progress-bar-message");
      for (var i = 0; i < 11; i++) {
        setTimeout(updateProgress, 500 * i, bar, barMessage, {
          percent: 10 * i,
          current: 10 * i,
          total: 100
        })
      }
    })

    </script>


  </div>

{% endblock %}
