
{% extends "base.html" %}
{% load static%}

{% block title %}Main page{% endblock %}

{% block content %}


<style media="screen">
      .img-max-width{
        max-height: 80px;
        min-height: 70px;
      }
</style>
<input type="hidden" id="downloadVideoUrl" data-url="{% url 'downloadVideo' %}" />
<input type="hidden" id="downloadVideoList" data-url="{% url 'downloadVideoList' %}" />


  <div class="container-fluid">

    <br>

    <!-- download video form start -->
    <div class="row">
      <!-- the start of the two forms -->
      <div class="d-flex justify-content-center align-items-center container">
        <form class="" action="{% url 'downloadVideo' %}" method="POST" id="single_video_question_form">
          {% csrf_token %}
          {{ DownloadUrl }}
          <input type="submit" name="" value="download video">
        </form>

        OR

        <form class="" action="{% url 'downloadVideoList' %}" method="POST" id="multiple_videos_question_form">
          {% csrf_token %}
          {{ download_video_list_form }}
          <input type="submit" name="" value="add video List">
        </form>
      </div>
      <!-- the end of the two forms -->
    </div>
    <br>

    <div class="container-fluid" id="all_videos">

      <!-- video title -->
      <p class="row justify-content-center" id="videoName">{{titles.0}}</p>

      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-6">

          <!-- video and play tools  start  -->
          <div class="container text-center my-1">

            <!-- carousel start -->
              <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel" style="interval: false">

                  <div class="carousel-inner w-100" role="listbox">
                    <!-- active thumbnails start -->
                      <div class="carousel-item row no-gutters active">
                        {% for thumbnail in thumbnail_urls %}
                          {% if forloop.counter0 < 4 %}
                            <div class="col-3 float-left">
                              <img class="d-block w-100 img-fluid img-max-width" src="{{thumbnail}}" onclick="play_song_from_thumbnail_image({{forloop.counter0}})" alt="video thumbnail">
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                      <!-- active thumbnails end -->

                      <!-- non-active thumbnail start (the secondary thumbnails ) -->
                      <div class="carousel-item row no-gutters">
                        {% for thumbnail in thumbnail_urls %}
                          {% if forloop.counter0 >= 4 %}

                            {% if forloop.counter|divisibleby:4 %}
                              </div>
                              <div class="carousel-item row no-gutters">
                            {% endif %}

                            <div class="col-3 float-left">
                              <img class="d-block w-100 img-fluid img-max-width" src="{{thumbnail}}" onclick="play_song_from_thumbnail_image({{forloop.counter0}})" alt="video thumbniail">
                            </div>
                          {% endif %}

                        {% endfor %}
                      </div>
                        <!-- non-active thumbnail end (the secondary thumbnails ) -->

                    </div>
                    <!-- carousel-inner end  -->

                    <!-- carousel next and previous start  -->
                    <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!-- carousel next and previous end  -->

                  </div>
                  <!-- carousel end -->

          </div>
          <!-- video and play tools  end  -->

          <video  id="videoPlayer" controls autoplay  width='100%' height='80%' poster="{{thumbnail_urls.0}}">
            <source src="{{videos_source.0}}" type="video/mp4"></source>
          </video>

          <button type="button" onclick="previous()" disabled  id="previousVideoButton"> <i class="fas fa-arrow-circle-left"></i> previous Song</button>
          <button type="button" onclick="next()" {% if videos_source|length <= 1 %}disabled{% endif %} id="nextVideoButton" style="float:right">Next Song <i class="fas fa-arrow-circle-right"></i></button>

</div>
<!-- col-md-6 end  -->


        <div class="col-md-2" style="background-color:green"></div>
        <div class="col-md-2"></div>

      </div>
    </div>

  </div>

    <script type="text/javascript">

      $(document).ready(function() {
        $('#recipeCarousel').bind('mousewheel', function(e){
          e.preventDefault();

          if(e.originalEvent["wheelDelta"] /120 > 0) {
            console.log('scrolling up !');
             $("#recipeCarousel").carousel("next");
          }
          else{
            console.log('scrolling down !');
            $("#recipeCarousel").carousel("prev");
          }
        });
      });


    </script>
    <script type="text/javascript">

      videos_source_list = {{ videos_source|safe }};
      thumbnail_urls = {{ thumbnail_urls|safe }};
      titles = {{ titles|safe }};

      videos_length =  videos_source_list.length;
      last_index = videos_length - 1;
      first_index = 0;

      video_player = document.getElementById("videoPlayer");
      nextVideoButton = document.getElementById("nextVideoButton");
      previousVideoButton = document.getElementById("previousVideoButton");
      video_name = document.getElementById("videoName");
      current_index = 0;


      function enableAndDisableButtons(current_index, first_index, last_index, previousVideoButton, nextVideoButton){

          previousVideoButton.disabled = current_index <= first_index;

          nextVideoButton.disabled = current_index >= last_index;

      }



      function add_video_source_index(index){
          video_player.src= videos_source_list[index];
      }
      function add_video_title(index){
          video_name.innerHTML = titles[index];
      }

      function add_video_thumbnail(index){
          video_player.poster = thumbnail_urls[index];
      }

      function play_song_from_thumbnail_image(index){
          add_video_source_index(index);
          add_video_title(index);
          add_video_thumbnail(index);
          enableAndDisableButtons(current_index=index, first_index, last_index, previousVideoButton, nextVideoButton)
      }

      function next()  {
        current_index = current_index + 1;

      if(current_index <= last_index){
        add_video_source_index(current_index);
        add_video_title(current_index);
        add_video_thumbnail(current_index)
      }
      else if(current_index > last_index){
        notify("you reached the last video !", false)
      }
      enableAndDisableButtons(current_index, first_index, last_index, previousVideoButton, nextVideoButton)
      }


      function previous(){
          let current_index = current_index - 1;

      if(current_index < first_index){
        notify("you reached the last video !", false)
      }

      else if(current_index >= first_index){
        add_video_source_index(current_index);
        add_video_title(current_index);
        add_video_thumbnail(current_index)
      }

      enableAndDisableButtons(current_index, first_index, last_index, previousVideoButton, nextVideoButton)
      }

      //on video end
      video_player.onended = function() {
      next()
      };


    </script>

    <script type="text/javascript">

      let single_video_form = $('#single_video_question_form');
      let multiple_videos_form = $("#multiple_videos_question_form");

      single_video_form.submit(function (e) {

        e.preventDefault();
        let url = $("#downloadVideoUrl").attr("data-url");

        notify("download request started ...", true);

        $.ajax({
            type: 'POST',
            url: url,
            data: single_video_form.serialize(),
            success: function (data) {
              notify(data["answer"], true)
            },
            error: function (data) {
                notify('An error occurred :' + data.message, false);
                console.log('An error occurred :' + data.message);
                console.log(data);
            },
        });
      });

      multiple_videos_form.submit(function (e){
        e.preventDefault();
        let url = $("#downloadVideoList").attr("data-url");
        notify("download list request started ...", true);


        $.ajax({
            type: 'POST',
            url: url,
            data: multiple_videos_form.serialize(),
            success: function (data) {
              notify(data["answer"], true)
            },
            error: function (data) {
                notify('An error occurred :' + data.message, false);
                console.log('An error occurred :' + data.message);
                console.log(data)
            },
        });
      })


    </script>


<!--

    <style media="screen">
      #progress-bar {
      margin-top: 1em;
    }
    </style>

    <div id="progress-wrapper">
      <button id="progress-bar-trigger">Run</button>
      <div id="progress-bar" style="background-color: blue; width: 40%;">&nbsp;</div>
      <div id="progress-bar-message">Waiting for progress to start...</div>
    </div>
    <script type="text/javascript">
      function updateProgress(progressBarElement, progressBarMessageElement, progress) {
      progressBarElement.style.width = progress.percent + "%";
      progressBarMessageElement.innerHTML = progress.current + ' of ' + progress.total + ' processed.';
    }

    var trigger = document.getElementById('progress-bar-trigger');
    trigger.addEventListener('click', function(e) {
      var bar = document.getElementById("progress-bar");
      var barMessage = document.getElementById("progress-bar-message");
      for (var i = 0; i < 11; i++) {
        setTimeout(updateProgress, 500 * i, bar, barMessage, {
          percent: 10 * i,
          current: 10 * i,
          total: 100
        })
      }
    })

    </script>


  </div> -->

{% endblock %}
