
{% extends "base.html" %}
{% load static%}

{% block title %}Main page{% endblock %}

{% block content %}

<br>
<form class="" action="{% url 'downloadVideo' %}" method="POST" id="questionForm">
  <center>
        {% csrf_token %}
      <input type="text" name="question" placeholder="Enter youtube video url">
      <input type="submit" name="" value="download mp3">
    </center>
</form>

{% for record in audioRecords %}
  <audio controls>
    <source src="{{MEDIA_URL}}{{record.file}}" type="audio/mp3">
  </audio>
{% endfor %}


<input type="hidden" id="downloadVideoUrl" data-url="{% url 'downloadVideo' %}" />


<script type="text/javascript">

  var questionForm = $('#questionForm');

  questionForm.submit(function (e) {

    e.preventDefault();
    var url = $("#downloadVideoUrl").attr("data-url");

    $.ajax({
        type: 'POST',
        url: url,
        data: questionForm.serialize(),
        success: function (data) {

          console.log(data.answer)



        },
        error: function (data) {
            console.log('An error occurred.');
            console.log(data.message);
        },
    });
  })


</script>
















<style media="screen">
  #progress-bar {
  margin-top: 1em;
}
</style>

<!-- <div class="progress" id="progress-wrapper">
  <button id="progress-bar-trigger">Run</button>
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
  </div>
  <div id="progress-bar-message">Waiting for progress to start...</div>
    Waiting for progress to start...
  </div> -->

<div id="progress-wrapper">
  <button id="progress-bar-trigger">Run</button>
  <div id="progress-bar" style="background-color: blue; width: 40%;">&nbsp;</div>
  <div id="progress-bar-message">Waiting for progress to start...</div>
</div>
<script type="text/javascript">
  function updateProgress(progressBarElement, progressBarMessageElement, progress) {
  progressBarElement.style.width = progress.percent + "%";
  progressBarMessageElement.innerHTML = progress.current + ' of ' + progress.total + ' processed.';
}

var trigger = document.getElementById('progress-bar-trigger');
trigger.addEventListener('click', function(e) {
  var bar = document.getElementById("progress-bar");
  var barMessage = document.getElementById("progress-bar-message");
  for (var i = 0; i < 11; i++) {
    setTimeout(updateProgress, 500 * i, bar, barMessage, {
      percent: 10 * i,
      current: 10 * i,
      total: 100
    })
  }
})

</script>

{% endblock %}
