<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'mainPage'%}">Main Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">button 1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">button 2 <span class="sr-only">(current)</span></a>
      </li>
    </ul>



    <form id ="form-data" action="#" method="get" >
      {% csrf_token %}
       <div class="searchbar" id="searchbar">
         <input class="search_input" type="text" name="q" placeholder="Search Area...">
         <div class="search_icon">
           <i class="fas fa-search" ></i>
         </div>
       </div>
    </form>


    {% if request.user.is_authenticated%}

    <div class="btn-group list" >
      <button type="button" class=" notification " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fas fa-bell"></span>
      </button>
      <div class="dropdown-menu notification-content">
        <a class="dropdown-item" href="#">First Notification</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Second Notification</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Third Notification</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Forth Notification</a>
      </div>
    </div>

    <div class="btn-group list" >
      <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu options">
        <a class="dropdown-item" href="#">Profile(not working)</a>
        <a class="dropdown-item" href="#">Setting(not working)</a>
        <a class="dropdown-item" href="#">Something else here(not working)</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
           <form method="post" action="{% url 'logout'%}">
            {% csrf_token %}
            <button type="submit" class="logout" >
            Log out
            </button>
          </form>

        </a>
      </div>
    </div>

    {% else %}

      <button type="button" class="btn btn-info btn-lg nav_submit" data-toggle="modal" data-target="#sign-up">
      Log in
      </button>

      <div class="modal fade" id="sign-up" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body" >
              <div id="signupbox" style="display:none">
                {% include 'signup.html'%}
               </div>

              <div id="loginbox" >
                {% include 'login.html'%}
              </div>
            </div>

          </div>
        </div>
      </div>

    {% endif %}

  </div>

</nav>
